<p id="notice"><%= notice %></p>

<h1>Order Lists</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Order array</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_lists.each do |order_list| %>
      <tr>
        <td><%= order_list.name %></td>
        <td><%= order_list.order %></td>
        <td><%= link_to 'Show', order_list %></td>
        <td><%= link_to 'Edit', edit_order_list_path(order_list) %></td>
        <td><%= link_to 'Destroy', order_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order List', new_order_list_path %>
